extends ../layout

block content
    .container
        .row
            form.form-horizontal(method="post", action="/admin/movie/new")
                .form-group
                    label.col-sm-2.control-label(for="inputTitle") 电影名字
                    .col-sm-10
                        input#inputTitle.form-control(tyep="text", name="movie[title]", value="#{movie.title}")
                .form-group
                    label.col-sm-2.control-label(for="inputDoctor") 电影导演
                    .col-sm-10
                        input#inputDoctor.form-control(tyep="text", name="movie[doctor]", value="#{movie.doctor}")
                .form-group
                    label.col-sm-2.control-label(for="inputCountry") 国家
                    .col-sm-10
                        input#inputCountry.form-control(tyep="text", name="movie[country]", value="#{movie.country}")
                .form-group
                    label.col-sm-2.control-label(for="inputanguage") 语种
                    .col-sm-10
                        input#inputanguage.form-control(tyep="text", name="movie[language]", value="#{movie.language}")
                .form-group
                    label.col-sm-2.control-label(for="inputLanguage") 海报地址
                    .col-sm-10
                        input#inputLanguage.form-control(tyep="text", name="movie[language]", value="#{movie.language}")